services:
  trafficstats:
    build: .
    container_name: trafficstats
    restart: unless-stopped
    ports:
      - "3896:8080"
    volumes:
      - ./data:/data
      - /mnt/nas/media/backup/kamery/kamera_front:/media/kamera_front:ro
    env_file:
      - .env
